# Firebase Configuration
VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=pokemon-1248.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=pokemon-1248
VITE_FIREBASE_STORAGE_BUCKET=pokemon-1248.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=185001376620
VITE_FIREBASE_APP_ID=1:185001376620:web:4358f1204a5fe1a7615149
VITE_FIREBASE_MEASUREMENT_ID=G-G07TP1ENV6
VITE_FIREBASE_DATABASE_URL=https://pokemon-1248-default-rtdb.firebaseio.com
